@font-face {
    font-family: 'directrice';
    src: url('http://www.ccn-orleans.com/assets/fonts/directrice20170810-webfont.woff2') format('woff2'),
         url('http://www.ccn-orleans.com/assets/fonts/directrice20170810-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

