@import "../fonts/stylesheet.css";

// fonts
$font-family: "directrice", serif; 
$orleans-font: "orleans", sans-serif;

// color
$rose: rgb(250, 75, 200);
//$roseClair: rgb(253, 224, 234);
$roseClair: #F5F5F5;
$jaune: yellow;

// margins
$marginSmall:1.5rem / 2;
$marginNormal:1.5rem;
$marginBig:1.5rem * 2;
$columnPadding: 0.9375rem;

$margin-decale: -15%;

$constructionTop : 0px;

$h1: 	rem-calc(36);
$h2: 	1.8rem;
$h3:	rem-calc(36);
$h4:	1.8rem;
$p: 1.25rem;

// font-size
@mixin H1{
	font-size: 36px;
	line-height: 1;
	margin: 0;
	padding: 0;
	color: #000;
}

@mixin H2{
	font-size: 36px;
	line-height: 1;
	margin: 0;
	color: #000;
}

@mixin H3{
	font-size: 28px;
	line-height: 1;
	margin: 0;
	color: #000
}

@mixin H4{
	font-size: 28px;
	line-height: 1;
	color: #000;
	margin: 0;
}

@mixin H5{
	font-size: $p;
	line-height: 1;
	color: #000;
	margin: 0;
}

@mixin H6{
	font-size: $p;
	line-height: 1;
	color: #000;
	margin: 0;
}

@mixin textCourant{
	font-family: $font-family;
	line-height: 1.2;
	font-size: $p;
}

@mixin liens{
	font-family: $font-family;
	line-height: 1;
	color: #000;
	&:hover{
		color: $rose;
		text-decoration: none;
	}
}

@mixin listSepartor($size){
	content:"#";
	font-family: "orleans";
	font-size: $size;
	padding-left: 1rem;
	padding-right: 0.8rem;
}


@mixin monochrome($couleur){
	background: $couleur;
  img{
	  mix-blend-mode: screen;
	  -webkit-filter: grayscale(100%) contrast(200%);
	  filter: grayscale(100%) contrast(200%);
	  opacity: 1;
	}
}

@mixin degaulle{
	font-family: degaulle, sans-serif;
	text-transform: uppercase;
	color: #FFF; 
	text-shadow: -1px -1px 0 #000, 1px -2px 0 #000, -1px 1px 0 #000, 3px 1px 0 #000;
	line-height: 0.8;
}

@media #{$xlarge-up} {
  @include grid-html-classes($size:xlarge);
  @for $i from 0 through $total-columns - 1 {
    .push-#{$i} {
      @include grid-column($push:$i, $collapse:null, $float:false);
    }
    .pull-#{$i} {
      @include grid-column($pull:$i, $collapse:null, $float:false);
    }
  }
}