// I M P O R T
@import "_foundation.scss";
@import "_font-awesome.scss";
@import "_variables.scss";
// rose rgb250, 75, 200

* {
  box-sizing: border-box;
}

body {
	font-size: 12px;
	font-family: $font-family;
	background: $roseClair;
} 

h1,h2,h3,h4,h5,h6{
	font-family: $font-family;
	color: #000;
	line-height: 1.2;
}

// -------- STYLE GENERAL ------------
// i{transform: skewX(-25deg);}
h1{@include H1;}
h1.orleans{
	font-size: 50px;
}
h2{@include H2;}
h3{@include H3;}
h4{@include H4;}
p, li{ @include textCourant; }
a{@include liens}
a:visited{color: #000;}
a.active{color: $rose;}
a:hover h5{
	color: $rose;
}
h1 + ul{
	margin-top: 20px;
}

.text h4, .notes-dates h4{
	color: $rose;
}

ul{
	margin:0;
	li{
		list-style:none;
		line-height: 1;
		color: #000;
	}
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

button.button{
	font-family: $font-family;
	color: #000;
	background-color: #FFF;
	border: 2px solid #000;
	font-size: 17px;
	text-transform:lowercase;
	padding: 10px 20px;
	letter-spacing: 0.1em;
	outline:none;
	&:hover, &:focus, &:active{
		color: $rose;
		border: 2px solid $rose;
		background-color: #FFF;
		outline:none;
	}
}

.slider:hover{
	.slider-image{
		filter: blur(0);
		&[data-flou="non"]{
			filter: none;
		}
	}
}

.slider-image{
	filter: blur(5px);
	transition: filter 0.5s; 
		
}

figure{
	margin:30px 0;
	width: 80%;
	filter: blur(5px);
	transition: filter 0.5s; 
	&:hover{
		filter: blur(0);
	}
	&[data-flou="non"]{
		filter: none;
	}
}

.FigureImage-lazy {
	padding:0 !important;
}

.arrow-back{
	display: inline-block;
    position: absolute;
    left: -30px;
    top: 150px;
    font-size: 55px;
    &:hover{
    	a{
    		color: $rose;
    	}
    }
}

.orleans{
	font-family: $orleans-font;
	// -ms-word-break: break-all;
	// word-break: break-all;

	// /* Non standard for webkit */
	// word-break: break-word;

	// -webkit-hyphens: auto;
	// -moz-hyphens: auto;
	// -ms-hyphens: auto;
	//   hyphens: auto;
}

// notes de côté de page
.note{
	position: absolute;
	right: -200px;
	color: $rose;
	font-size: rem-calc(18);
	width: 30%;
	min-width: 100px;
	a{
		color: $rose;
		text-decoration:none !important;
		&:hover{
			color:#000;
		}
	}
	&.date{
		font-size: 2rem;
		line-height: 1;
		.note-title{
			font-size: rem-calc(18);
			line-height: 1.2;
			color: #000;
			display:block;
		}
	}
}

.main-content{
	padding-top: 170px;
}

// modal pour l'inscription à la newsletter
.modal-newsletter{
	display:none;
	position: fixed; 
	z-index: 2000;
	top:0;
	left:0;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	.modal-content{
		background-color: #FEFEFE;
		margin: 5% auto;
		padding: 20px; 
		border: 1px solid #888;
		width: 50%;
		.close-modal{
			color: $rose;
			float: right;
			font-size: 32px;
			&:hover, &:focus{
				color: #000;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
}



// -------- FIN STYLE GENERAL ------------

// -------- SITE EN CONSTRUCTION ---------


// -------- MENU — HEADER ------------

header{
	h1{
		// margin-bottom: $marginSmall;
		// padding-top: $marginSmall;
	}
	h1, h1 a{
		font-size: rem-calc(25);
		cursor: pointer;
		line-height:0.8;
		&:hover{
			filter: blur(2px);
			color: #000;
		}
	}
}

// -------- FIN MENU — HEADER ------------

.module--menu--mainNav{
	position:fixed;
	top:0;
	padding: $marginSmall 20px 20px 20px;
	background: #FFF;
	z-index: 999;
	border-bottom: 2px solid rgba(0,0,0,.02);
 	//box-shadow: 0px 10px 10px -10px rgba(0,0,0,.2);
}

.socialnetwork {
	ul{
		display:flex; 
		li{
			font-size: 0.9rem; 
			line-height: 1.6;
			margin-right: 15px;
		}
	}
	i{
		transform: none;
	}
}

nav .menu-top-list {
	margin: 0;
	position: relative;
	margin-top: 15px;
	&.archives{
		margin-top:0;
	}
	> li {
		font-size: 1.25rem; 
		line-height: 1.2;
			&:hover, a:hover{
				color: $rose;
				cursor: pointer;
			}
			&.active{
				color: $rose;
				a{
					color: $rose;
				}
			}
			&:before{
				font-size: 20px;
			  margin-left: -20px;
			  margin-right: 8px;
			  content: "+";
			  font-family: "orleans", sans-serif;
			}
		> ul {
			margin: 0;
			padding: 10px 15px 30px 15px;
			display:none;
			position: absolute; 
			left: 0; 
			top: 5rem; 
			right:0;
			background: #FFF;
			z-index: 1000;
			> li{
				text-transform: none;
				// font-size: rem-calc(25); 
				line-height: 1.2;
				a:hover{
					color: #000;
				}
			}
		}

		// .module--menu--submenu.active:after, .module--menu--submenu.active:before{
		// 	content:"";
		// 	width: 200%;
		// 	background: $roseClair;
		// 	position: absolute;
		// 	top: 0; 
		// 	bottom: 0;
		// 	right: -200%;
		// }
	}
	// &.menu-col-right .module--menu--submenu{
	// 		width: 100%;
	// }
	// &.menu-col-right .module--menu--submenu{
	// 		width: 350%;
	// }
	// &.menu-col-right .module--menu--submenu.active:after{
	// 		left: 100%;
	// }
	// &.menu-col-right .module--menu--submenu.active:before{
	// 		right: 100%;
	// 		width: 100%;
	// }
}
.module--navigation-in-page{
	background: $roseClair;
	width: 100%;
	position:fixed;
	z-index: 3;
	top:$constructionTop; // à enlever quand site en construction
	padding: $marginSmall + 0.2 10px 0px 0px;
}

.breadcrumb{
	li{
		flex: 0 1 auto;
		line-height: 0.4;
		a:hover{
			color: $rose;
		}
		&:last-child{
			&:after{
				content:"";
			}
		}
		&:after{
			content: ">";
			padding-right:$columnPadding;
			padding-left:$columnPadding;
		}
	}
}

.submenu{
	//width: 70%;
	li{
		flex: 0 1 auto;
		line-height: 0.6;
		text-transform: none;
		.orleans{
			font-family: $font-family;
		}
		br{
			display:none;
		}
		&:last-child{
			&:after{
				content:"";
			}
		}
		&:after{
			content:"#";
			font-family: $orleans-font;
			font-size: 1rem;
			padding-left: 0.6rem;
			padding-right: 0.9rem;
		}
	}
}


// Wrapper des pictos qui se baladent dans la page
.picto-wrapper{
	width: 12%;
	min-width: 100px;
	max-width: 150px;
	position: absolute;
	z-index:-1;
}

.left-col{
	height:100vh;
	position: fixed; 
	top: 0px;
	display:none;
	padding-top: $marginSmall;
	h1, h1 a{
		font-size: 36px;
		line-height: 0.9;
		&:hover{
			color: #000;
		}
	}
	.menu-btn{
		font-size: 1.5rem;
		padding-top: 2px;
		color: #000;
		text-transform: uppercase;
		cursor: pointer;
		margin-bottom: 0.2rem;
		width: 120px;
		&:hover{
			filter: blur(2px);
			color: #000;
		}
		span{
			display:inline-block;
		}
		&::before{
			content:"";
			display:inline-block;
			background:$rose;
			width: 17px;
			height:17px;
			margin-right: $marginSmall/2;
		}
	}

	.pdf{
		margin-top: 2rem;
		li{
			margin-bottom: $marginSmall;
			line-height:0.8;
			a{
				font-size: 0.9rem ;
				line-height:0.8;
				color: rgb(250, 75, 200);
				&:hover{
					color: #000;
				}
			}
		}
	}
	.address{
		bottom: 0;
		position:absolute;
		p, a, ul{
			font-size: 0.9rem;
			line-height: 1.1;
		}
		a:hover{
			color: $rose;
		}
	}
}


main{
	display:none;

	.text a{
		text-decoration: underline;
	}
}


.mobile-address{
	display:none;
}



body[data-rubrique="home"]{
	.big-image-wrapper{
		position:absolute;
		width: 80%;
		z-index: 999;
		top:130px;
	}
	.col-wrapper{
		display:none;
		a:hover h1, a:hover h2, a:hover h3{
			color: $rose;
		}
	}
	.dates-info-wrapper{
		color: $rose;
		margin-top: 20px;
	}
}

body[data-template="menu"]{
	main{
		padding-top: $marginSmall + 0.3;
		h1{
			width: auto;
			text-transform: uppercase;
			margin-top: 0;
		}
		li{
			@include H1;
			display:block;
			margin-bottom:$marginSmall;
			&::after{
				content:"";
			}
			a:hover{
				color: $rose;
			}
		}
	}
}

.list-with-images{
	.accueils-module li{
		display:block;
		position:relative;
		h2{
			margin-bottom: 0.5em;
		}
		h3{
			margin-top: 0.5em;
		}
		a:hover h2, a:hover h3{
			color: $rose;
		}
		&:last-child:after{
			content:"";
		}
		&::after{
			content:"—";
			font-family: $font-family;
			//color: $rose;
			padding-left: 0;
		}
	}
}

.creations , .list-with-images{
	margin-top: $marginBig;
	margin-bottom: $marginBig;
	li{
		font-size: $h2;
		text-transform: none;
		display: inline-block;
		position:relative;
		a:hover{
			color: $rose;
		}
		&:after{
			@include listSepartor($h2)
		}
		.thumb-wrapper{
			position:absolute;
			width: 270px;
			left: 70%;
			top: -100px;
			z-index: 100;
			display:none;
		}
	}
}


body[data-template="maud"]{
	main{
		.text{
			padding-left:0;
		}
	}
}

body[data-rubrique="creations-et-tournees"]{
	hr{
		margin-bottom: $marginBig;
		margin-top: $marginBig;
	}

}

body[data-template="agenda"], body[data-template="creationstournees"]{
	main{
		//padding-top: $marginSmall/2;
		h2{
			margin-left: 0;
			margin-top: 1em;
			margin-bottom: 0.5em;
			&:first-child{
				margin-top: 0.5em;
			}
		}

		.title--next-events, .click---past-events:not(.active){
			font-size: 1rem;
	    margin-bottom: $marginSmall/2;
	    padding-right: $marginSmall;
	    cursor:pointer;
	    display:inline-block;
			&:hover, &.active{
		    color: $rose;
		  }
	  }
		.title--next-events{
			display:none;
		}

	  .click---past-events.active{
		  	cursor: default;
		 }
		.pastEvents{
			.pastEvents-wrapper{
				display:none;
				&.active {
					display:block;
				}
			}
		}
		.tags{
			margin-top:1rem;
			span{
				font-size: 1rem;
				text-decoration:underline;
			}
			li{
				cursor:pointer;
				display:inline-block;
				padding-right: 3em;
				position:relative;
				font-size: 1rem;
				&:first-child{
					margin-left: 1em;
				}
				&:before{
					content:"";
					width: 10px; 
					height:10px; 
					border:1px solid #000;
					display:block;
					position:absolute;
					top:2px;
					left:-15px;
				}
				&:hover, &.active{
					color: $rose;
						&:before{
						border:none;
						background:$rose;
					}
				}
			}
		}

		table {
	    border-collapse: collapse;
	    width: 90%;
	    margin:0;
	    border:none;

	    tr{
	    	&:hover a{
					color: $rose;
				}
	    }
		  td, th {
		    text-align: left;
		    padding: 2px;
		    padding-right:$marginSmall/2;
		    cursor:pointer;
		    font-size: 1rem;
		    vertical-align: top;
			}
			&:nth-child(even) {
			  background-color: #FFF;
			}
			&:nth-child(odd) {
			  background-color: $roseClair;
			}
		}
	}
	.themes{
		margin-top: $marginNormal;
	}
}

body[data-intended-template="theme"]{
	h1.orleans{
		font-family: $font-family;
	}
}


body[data-template="actu"]{
	main{
		padding-top: 4.3rem;
	}
}

main{
	margin-bottom: 6rem;
	position:relative;
	.text{
		margin-top: $marginNormal;
		position:relative;
		// quand le programme split
		.prog{
			margin-bottom: $marginBig;
			&:hover{
				h3{color: rgb(250, 75, 200);}
			}
			h3,h4{
				cursor: pointer;
			}
			p{
				display: none;
			}
		}
	}
	// icone derriere le titre
	.icone{
		width: 250px;
		position:absolute;
		z-index: -1;
		top: 8rem;
		left: -5%;
		&.portrait{
			width: 170px;
			left:-10%;
			//top:4.2rem;
		}
		&.square{
			width: 170px;
			//top:8rem;
		}
	}
	
	.text li{
		display:inline;
		&:last-child::after{
			content:"";
		}
		&:after{
			content:"#";
			font-family: "orleans";
			padding-left: 1rem;
			padding-right: 0.8rem;
		}
	}
	.notes-dates{
		margin-top: $marginNormal;
		li{
			margin-bottom: $marginNormal;
			a{
				text-decoration: none !important;
				&:hover{
					h4{
						color: #000;
					}
					h5, h6{
						color:$rose;

					}
				}
			}
		}
		h5, h6{
			margin:0;
			font-size: $p;
		}
		h4{
			line-height: 1;
			margin: 0;
			font-size: $p;
		}
	}
}


body[data-template="list"]{
	.liste-module{
		.row{
			margin: 0;
		}
		.notes-dates{
			margin-top: $marginBig;
		}
		li{
			margin-top: $marginBig;
			&::after{
				content:"";
			}
		}
		h2{
			// font-size: 1.7rem;
			// line-height: 0.8;
			margin-left:0;
		}
		li.active{
			.liste-element{
				//pointer-events:none;
				cursor:default;
				&:hover{
					h1,h2,p,li,h3,h4,h5,h6,a{
						color: #000;
					}
				}
				a:hover{
					color: $rose;
				}
			}
			.liste-text{
				display:block;
			}
		}
		.liste-text{
			display:none;
			h2{
				line-height: 1;
				margin-left:-22%;
			}
		}
	}
	.liste-element{
		cursor: pointer;
		&:hover{
			h1,h2,p,li,h3,h4,h5,h6,a{
				color: $rose;
			}
		}
		h2.columns{
			padding-left:0;
			margin-top: 0;
			//font-size: rem-calc(40);
		}
	}
}


body[data-template="atelier"]{
	main .text li:after{
		content:"";
	}
}

body[data-template="ateliers"]{
	nav.menu-page > ul > li {
		flex: 0 1 auto;
		&:last-child{
			&:after{
				content:"";
			}
		}
		&:after{
			content:"#";
			font-family: "orleans";
			padding-left: 0.5rem;
			padding-right: 0.8rem;
		}
		a{
			font-size: rem-calc(40);
			text-transform: none;
			&:hover{
				color: $rose;
			}
		}
	}
}

.biography{
	p, li{
		font-size: 1rem;
		line-height: 1;
	}
}

body[data-template="accueils"]{
	// main .text li::after{
	// 	content:"";
	// 	padding: 0;
	// }
	// .accueils-module{
	// 	.accueils-element{
	// 		cursor: pointer;
	// 		&:hover h3, &:hover h2{
	// 			color: $rose;
	// 		}
	// 	}
	// 	h2{
	// 		//font-family: "orleans", sans-serif;
	// 		// font-size: 4rem;
	// 		// line-height: 0.8;
	// 		margin-top: $marginNormal *2 ;
	// 	}
	// 	h3{
	// 		// font-size: 3rem;
	// 		// margin-left: $margin-decale;
	// 		margin-bottom: 0;
			
	// 	}
	// 	.events{
	// 		ul{
	// 			margin: 0;
	// 			.accueils-date{
	// 				margin-bottom: $marginNormal;
	// 				.date-event{
	// 					color: $rose;
	// 					font-size: 2.5rem;
	// 					line-height: 0.8;
	// 				}
	// 			}
	// 		}
	// 	}
		
	// 	.accueils-text{
	// 		display:none;
	// 		.notes-dates{
	// 			margin-top:0;
	// 		}
	// 	}
	// }

}


// Page erreur — Depeche mode
.error-page{
	h2{
		margin-top: 0;
		margin-left:0;
	}
}

.slider{
  margin-bottom: $marginSmall;
  overflow:hidden;
  margin-left: 0;
  margin-top: $marginNormal;
  .slider-image{
  	&:after{
    	content:"";
    }
  }
  img {
    margin:auto;
    max-width:none;
  }
  button{
    background: transparent;
    padding: 0;
    color: #FFF;
    font-size: 2em;
    font-weight: normal;
    position:absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 999;
    outline:none;
    &.slick-prev{
      left:10px;
    }
    &.slick-next{
      right:10px;
    }
  }
  .slick-dots{
    margin-left:0;
    li{
      width: 10px;
      height:10px;
      background: grey;
      border-radius: 100%;
      display:inline-block;
      margin-right: 0.5em;
      cursor: pointer;
      &:after{
      	content:"";
      }
      &.slick-active{
        background: $rose;
      }
    }
    button{display:none;}
  }
}

// champ d'inscription newsletter (home)
.newsletter{
	margin-top: 15px;
	@include textCourant;
	h5{
		font-size:0.9rem;
		margin-bottom:0;
	}
  form{
    padding:0;
    vertical-align: top;
    input{display:inline-block; float:left}
    input{
      border: none;
      border-bottom: 1px solid #000;
      box-shadow:none;
      padding: 0;
      height: 26px;
      background:transparent;
      margin-bottom: 10px;
      @include textCourant;
      font-size:0.9rem;
      &:focus{background: transparent;}
    }
    button[type='submit']{
      padding: 0;
      background-color: transparent;
      padding-left: 1.5em;
      //display:inline-block; 
      //float:left;
      margin:0; 
      @include textCourant;
      font-size:0.9rem;
      color: $rose;
      outline:none;
      &:hover{
      	color: #000;
      }
    }
  }

}

.uniform__potty {
    position: absolute;
    left: -9999px;
}

.form-success{
	color: $rose;
  border: 1px solid $rose;
  padding: 20px 20px 0px 20px;
  margin-bottom: 40px;
}

.form-error{
	color: red;
  border: 3px solid red;
  padding: 20px 20px 0px 20px;
  margin-bottom: 40px;
}

body[data-template="form"]{
	h2{
		margin-bottom:30px;
	}
	form {
		input[type="submit"]{
			border: 1px solid #000;
	    font-size: 15px;
	    background: none;
	    padding: 10px;
	    margin-top: 15px;
	    &:hover{
	    	background: #000;
	    	color: #FFF;
	    }
		}
	}
}

//newsletter form
.lbl-tinyltr, div#sib_embed_signup h1.title{
	font-family: $font-family !important; 
}

.lbl-tinyltr{
	font-size: 1.25rem !important;
}

div#sib_embed_signup .sib-container .button{
	font-family: $font-family !important; 
	color: #000 !important;
	background: #FFF !important;
	border: 1px solid #000 !important;
	border-radius: 0 !important;
	&:hover{
		color: $rose !important;
		border: 1px solid $rose !important;
	}
}

div#sib_embed_signup .sib-container .row{
	padding-top: 0 !important;
}

div#sib_embed_signup input[type="text"]{
	border-color: #000 !important;
	border-radius: 0 !important; 
	box-shadow:none;
}

input[type="checkbox"]{
	margin-right: 10px;
}

@import "responsive.scss";
@import "tablet.scss";

