// I M P O R T
// @import "_foundation.scss";
@import "_font-awesome.scss";
@import "_variables.scss";

* {
  box-sizing: border-box;
}

body {
	font-size: 12px;
	font-family: $font-family;
	background: $roseClair;
	margin:0;
	overflow-x:hidden;
} 

h1,h2,h3,h4,h5,h6{
	font-family: $font-family;
	color: #000;
	line-height: 1.2;
}

// -------- STYLE GENERAL ------------
h1{@include H1;}
h1.orleans{
	font-size: 50px;
}
h2{@include H2;}
h3{@include H3;}
h4{@include H4;}
h5{@include H5;}
h6{@include H6;}
p, li{ @include textCourant; }
a{@include liens; text-decoration:none;}
a:visited{color: #000;}
a.active{color: $rose;}
a:hover h5, p a:hover{
	color: $rose;
}
a:focus{
	color: $rose;
}

.main-content_title{
	font-size: $h1fat;
}

ul{
	margin:0;
	padding: 0;
	li{
		list-style:none;
		line-height: 1;
		color: #000;
	}
}

figure{
	margin: $marginNormal 0;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	vertical-align: top;
}

iframe{
	margin: $marginSmall 0px 0px; 
	width: 98%;
}

.image-wrapper-rose{
	background-color: $rose;
	margin-bottom: $marginSmall;
	margin-top: $marginSmall;
	width: 80%;
	transition: all 1s ease;
	&:hover{
		background-color: transparent;
		figure{filter: grayscale(0);}
	}
	figure{
		filter: grayscale(1);
		mix-blend-mode: multiply;
		margin:0;
	}
}


.bulle{
	font-family: "invisible", serif;
}

.orleans{
	font-family: $orleans-font;
}

// Newsletter
.modal-newsletter{
	display:none;
	position: fixed; 
	z-index: 10001;
	top:0;
	left:0;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	.modal-content{
		background-color: #FFF;
		margin: 2% auto;
		padding: $marginSmall; 
		border: 1px solid #888;
		width: 90%;
		max-width: 600px;
		.close-modal{
			color: $rose;
			float: right;
			font-size: 50px;
			line-height: 0.5;
			&:hover, &:focus{
				color: #000;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
	// sendin blue customize
	.sib-container{
		padding: $marginNormal;
		font-size: $p;
		h1{
			margin-bottom: $marginNormal;
		}
		.asterix{
			color: $rose;
		}
		input[type="text"]{
			display: block;
			border: none;
			border: 1px solid #000;
			width: 100%;
			max-width: 350px;
			margin-bottom: $marginSmall;
			font-size: $p;
			padding: 5px;
		}
		.sib_list_row{
			margin-top: $marginSmall;
			font-size: $smallfont;
			display:block;
			& > div {
				margin-bottom: 5px;
			}
			input{margin-right: 5px;}
		}
		button[type="submit"]{
			border: 1px solid; 
			padding: $marginSmall/2 $marginNormal;
			text-align:center;
			font-size: $p;
			font-family: $font-family;
			font-weight: normal;
			margin-top: $marginSmall;
			transition: all 0.4s ease; 
			display:inline-block;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			cursor: pointer;
			border-color: transparent;
			background: $rose;
			color: #FFF;
			&:hover{
				background: #FFF; 
				border-color: $rose;
				color: $rose;
			}
		}
	}
}

.show-for-small-only{
	display:block;
}

.hide-for-small-only{
	display:none;
}


// style pour le corps de texte
.text {
	margin-top: $marginNormal;
	h1 + p, h2 + p{
		margin-top: 0;
	}
	h4, .notes-dates h4, h2{
		color: $rose;
	}
	a{
		text-decoration: underline;
	}
	p:first-child{
		margin-top:0;
	}
	h5 + h6{
		margin-top: $marginNormal;
	}

}

// note de côté de page
.note{
	color: $rose;
	font-size: $note;
}

.main-content{
	position:relative;
}

// -------- FIN STYLE GENERAL ------------


// -------- MENU — HEADER ------------

header{
	width: 100%;
	position: fixed;
	background: #FFF;
	z-index: 10000; 
	padding: $marginSmall $marginNormal;
	border-bottom: 1px solid #000; 
	// position:relative;
	a{text-decoration:none;}
	.mobile-menu{
		display:flex;
		justify-content: space-between;
		align-items:center;
		width: 100%;
	}
	.mobile-menu_logo{
		h1{font-weight:normal;}
		a{font-size:30px;}
	}
	.mobile-menu_btn{
		text-transform: uppercase;
		font-size: 25px;
		margin-bottom:0;
		cursor: pointer;
		span{
			display:inline-block;
		}
		&::before{
			content:"";
			display:inline-block;
			background:$rose;
			width: 17px;
			height:17px;
			margin-right: $marginSmall/2;
		}
	}
	.nav{display:none; height:100vh; background: #FFF;margin:0;}
	.main-nav{
		margin-top: $marginNormal;
		li{
			padding-top: 2px; 
			padding-bottom:2px;
			cursor: pointer;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			&.active{
				color: $rose;
				&::before{
					color: #000;
				}
			}
		}
	}
	.main-nav_first-level{
		& > li{
			&:hover, &:hover > a{
				color: $rose;
				&::before{
					color: #000; 
				}
			}
			&::before{
				content: "◼";
				font-family: "orleans", sans-serif;
				font-size: 12px;
				margin-right: 3px;
				color: $rose;
			}
			ul > li{
				a{color: #000;}
				&:hover, &:hover a{
					color: #FFF;
				}
			}
		}
	}
	.main-nav_submenu{
		background: $rose; 
		color: #000;  
		// height:0;
		max-height:0;
		overflow: hidden; 
		padding: 0 $marginSmall;
		transition: max-height 0.3s ease, padding 0.2s linear 0.2s;
		&.active{
			padding: $marginSmall;
			// height: auto;
			max-height: 200px; 
			transition: all 0.3s ease;
		}
		a.active{
			color:#FFF;
		}
	}

	.second-nav{
		margin-top: $marginNormal;

	}
}

// --------- FIN MENU HEADER ----------

main{
	width: 90%;
	margin:auto;
	padding-top: 80px;
	padding-bottom: 80px;
}

.languages{
	text-transform: uppercase; 
	margin-bottom: $marginSmall;
	display:inline-block;
	li{
		display:inline-block;
		&:first-child::after{
			content: "•";
			margin-left: 4px;
			margin-right: 4px;
		}
		&.active a{
			color: $rose; 
		}
	}
}

.socialnetwork {
	margin-bottom: $marginNormal;
	ul{
		display:flex;
		li{
			margin-right: 15px;
			a{
				font-size: $p; 
				line-height: 1;
			}
		}
	}
	i{
		transform: none;
	}
}

.second-nav_address{
	margin-top: $marginNormal;
	p{
		font-size:$smallfont;
	}
}

.pdf {
	margin-top: $marginNormal;
	li{
		margin-bottom: $marginSmall;
		line-height: 0.7;
		&:before{
			content:"⚡";
			color: #000; 
			font-size: 12px;
			// margin-left: -20px;
			margin-right: 0;
		}
	}
	a{
		font-size: $smallfont;
		color: $rose;
		&:hover{
			color: #000; 
		}
	}
}


.btn{
	margin-bottom: $marginSmall;
	a{
		border: 1px solid; 
		padding: $marginSmall/2 $marginNormal;
		text-align:center;
		font-size: $p;
		font-weight: normal;
		transition: all 0.4s ease; 
		display:inline-block;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		cursor: pointer;
	}
	
	&.btn-rose a{
		border-color: transparent;
		background: $rose;
		color: #FFF;
		&:hover{
			background: #FFF; 
			border-color: $rose;
			color: $rose;
		}
	}
	&.btn-blanc a{
		border-color: $rose;
		background: #FFF;
		color: #000;
		&:hover{ 
			// border-color: transparent;
			color: $rose;
		}
	}
}


.big-image-wrapper{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left:0;
	z-index:100;
	img{
		object-fit: cover;
		max-width:none;
		width: auto;
		margin-left: -100%;
	}
}

.icone{
	width: 250px;
	position:absolute;
	z-index: -1;
	top: 8rem;
	left: -5%;
	&.portrait{
		width: 170px;
		left:-10%;
	}
	&.square{
		width: 170px;
	}
}

.main-content .icone{
	top:-15px;
	left: -10%;
}


// flèche de retour de page
.arrow-back{
	display: inline-block;
    position: absolute;
    font-size: 55px;
    top:0;
    left:-20px;
    &:hover{
    	a{
    		color: $rose;
    	}
    }
}

// notes de dates côté de pages
.notes-dates{
	margin-top: $marginNormal;
	li{
		margin-bottom: $marginNormal;
		a{
			text-decoration: none !important;
			&:hover{
				h4{color: #000;}
				h5, h6{color:$rose;}
			}
		}
	}
	h5, h6{
		margin:0;
		font-size: $p;
		color: #000; 
	}
	h4{
		line-height: 1;
		margin: 0;
		font-size: $p;
	}
}


// -------------------- SLIDER -------------------------
.slider{
  margin-bottom: $marginNormal;
  overflow:hidden;
  margin-left: 0;
  &:not(:first-child){margin-top: $marginNormal;}
  .slider-image{
  	&:after{
    	content:"";
    }
  }
  img {
    margin:auto;
    max-width:none;
  }
  button{
    background: transparent;
    padding: 0;
    color: #FFF;
    font-size: 2em;
    font-weight: normal;
    position:absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 999;
    outline:none;
    border:none;
    cursor: pointer;
    &.slick-prev{
      left:10px;
    }
    &.slick-next{
      right:10px;
    }
  }
  .slick-dots{
    margin-left:0;
    margin-top: $marginSmall;
    li{
      width: 10px;
      height:10px;
      background: grey;
      border-radius: 100%;
      display:inline-block;
      margin-right: 0.5em;
      cursor: pointer;
      &:after{
      	content:"";
      }
      &.slick-active{
        background: $rose;
      }
    }
    button{display:none;}
  }
}



// -------------------------- FIN SLIDER ------------------------------------

body[data-template="home"]{
	// icone derriere le titre
	.icone{
		width: 100px;
		top: 0;
		&.portrait{
			width: 70px;
		}
		&.square{
			width: 70px;
		}
	}
	main{
		a:hover h1, a:hover h2, a:hover h3{
			color: $rose;
		}
		a:hover .image-wrapper-rose{
			background-color: transparent;
			figure{filter: grayscale(0);}
		}
		.home_main_colonnes > div{
			margin-bottom: $marginBig;
			position:relative;
		}
	}
	.dates-info-wrapper{
		color: $rose;
		p{
			margin-top:5px;
		}
	}
	h4{
		font-size:21px !important;
		color: #000;
	}
	h3{
		font-size: 36px;
	}
}

body[data-template="maud"]{
	.creations{
		margin: $marginBig 0px;
		h1{margin-bottom: $marginBig;}
		figure{margin: $marginSmall 0px;}
		li{font-size: $h2;}
	}
}

body[data-template="maud"], body[data-template="accueils"], body[data-template="ateliers"]{
	.list-with-images{
		margin-top: $marginBig;
		h3{font-size: 21px;}
		li{
			display:block;
			position:relative;
			margin-bottom: $marginBig;
			.thumb-wrapper{
				@include imageRose;
			}
			.carre-rose{
				width: 100%;
				height: 50vw;
				background: $rose;
				margin: $marginSmall 0;
			}
			a:hover{
				h2, h3{color: $rose;}
				.thumb-wrapper{
					background-color: transparent;
				}
				figure{filter: grayscale(0) brightness(1);}
			}
			figure{
				margin-top: 10px;
			}
		}
	}
}

body[data-template="atelier"]{

	.text .btn{
		margin: $marginNormal 0px $marginBig;
		text-align: center;
		a{
			text-decoration:none;
		}
	}
}

@media only screen and (max-width: 48em){
	.row{
		margin: auto;
	}
}

@media only screen and (min-width: 48em){

	body[data-template="maud"]{
		// .list-with-images{
		// 	li{
		// 		padding: 0px $marginNormal;
		// 	}
		// }
		// .creations{
		// 	li{
		// 		margin:2px 0;
		// 		&:after{
		// 			@include listSepartor($h2)
		// 		}
		// 		.thumb-wrapper{
		// 			position:absolute;
		// 			width: 270px;
		// 			left: 70%;
		// 			top: -100px;
		// 			z-index: 100;
		// 			display:none;
		// 		}
		// 	}
		// }
	}
	body[data-template="maud"], body[data-template="accueils"], body[data-template="ateliers"]{
		.list-with-images{

			li{
				padding: 0px $marginNormal;
				.carre-rose{
					height: 15vw;
				}
			}
		}
		// .list-with-images{
		// 	li{
		// 		margin-bottom: 0;
		// 		.thumb-wrapper{
		// 			position:absolute;
		// 			width: 270px;
		// 			left: 70%;
		// 			top: -100px;
		// 			z-index: 100;
		// 			display:none;
		// 		}
		// 	}
		// }
	}
}



@media only screen and (min-width: 64em){
	.show-for-small-only{
		display:none !important;
	}
	.hide-for-small-only{
		display:block !important;
	}

	.icone{
		left:0;
	}

	.arrow-back{
		left: -40px;
    top: 0px;
	}

	.text{
		figure{
			width: 80%;
		}
		.slider{
			width: 90%;
		}
	}


	header{
		padding: $marginNormal;
		h1, h1 a{
			font-size: 25px;
			cursor: pointer;
			line-height:0.8;
			&:hover{
				filter: blur(2px);
				color: #000;
			}
		}
		.nav{
			display:flex; 
			height:auto; 
		}
		.main-nav{
			margin-top:0;
		}
		.main-nav_first-level{
			column-count: 3;
			-moz-column-count: 3;
		}
		.main-nav_submenu{
			position: absolute;
			top: calc(100% + 1px);
			// top: 0;
			left:0; 
			right:0;
			padding: 0 $marginNormal;
			display:flex;
			justify-content: center;
			&.active{
				padding: $marginSmall $marginNormal;
				// top:calc(100% + 1px);
			}
			li{
				padding: 0px $marginSmall;
			}
		}
		.desktop-second-nav{
			text-align: right;
		}
	}

	main{
		padding-top: 170px;
		width: 100%;
	}

	.languages{
		margin-bottom: 0;
		a{font-size: $smallfont;}
	}

	.socialnetwork{
		padding-right: 0;

		ul{
			justify-content: flex-end;
			li{
				margin-right:0;
				margin-left: 15px;
				a{
					font-size: $smallfont; 
				}
			}
		}
	}

	.big-image-wrapper{

		img{
			margin-left: 0;
			max-width: 100%;
		}
	}

	.second-nav{
		padding: $marginNormal;
	}
	.home_main_colonnes{
		margin-left: 4%;
		&>div{
			padding-right: $marginNormal;
		}
	}
}


























