// ---------- MOBILE VERSION -----------
@media #{$small-only}{
	h1{
		font-size: 2.7rem;
		word-wrap:  break-word;
		width:auto;
		margin-bottom: $marginSmall;
	}
	p, li{
		font-size:1.1rem;
	}

	figure{
		filter:none;
		width:100%;
	}


	.left-col{
		position: relative; 
		height:auto;
		h1{
			padding-top: $marginNormal + 0.3;
		}
		h1, a{
			font-size: 1rem;
			line-height: 0.85;
			margin-bottom: $marginSmall;
		}
		.header-mobile{
			margin-bottom: 0;
			background:$roseClair;
			position:fixed;
			top:0;
			left:0;
			//width:100%;
			z-index:10;
			padding-top:10px;
			padding-left: $columnPadding;
			padding-right: $columnPadding;
			h1{
				margin:0;
				padding:0;
				float:right;
				a{font-size:1rem;}
			}
			.menu-mobile-btn{
				text-transform: uppercase;
				color: #000;
				font-size: 1rem;
				margin-bottom:0;
				float:left;
				span{
					display:inline-block;
				}
				&::before{
					content:"";
					display:inline-block;
					background:$rose;
					width: 10px;
					height:10px;
					margin-right: $marginSmall/2;
				}
			}
		}

		.pdf{
			margin-top: $marginNormal;
			display:none;
		}

	}
	.breadcrumb{
		> ul >li{
			font-size: 1rem;
			&:after{
				padding-left: $columnPadding/2;
				padding-right: $columnPadding/2;
			}
		}
	}

	.address{
		position:relative;	
		margin-top: $marginNormal;	
		p, a, ul{
			font-size: 0.7rem;
		}
		ul{margin-bottom:$marginSmall/2;}
		li{line-height:0;}
		padding-left:0.9375rem;
	}

	header{
		//display:block;
		filter:none;
		overflow:scroll;
		height:100vh;
		.close-menu-button{
			margin-bottom: $marginSmall;
		}
		nav > ul{
			display:block;
			>li{
				 margin-bottom: $marginSmall;
			}
		}
	}

	.module--navigation-in-page{
		top: 1.3em;
		left:0;
		padding-top: 2em;
		padding-left: $columnPadding;
		padding-bottom: 0;
		//width:150%;
	}


	main{
		padding-top:$marginNormal * 1.5;
		.text{
			margin-top: $marginSmall;
		}
		.icone{
			width:150px;
			top:3rem;
			left:50%;
			transform:translateX(-50%);
		}
	}

	.left-col{
		.hide-on-scoll{
			display:none;
		}
	}

	.note{
		position: relative;
		width:auto;
		min-width:auto;
		right:0;
		//display:block;

	}

	body[data-rubrique="home"]{
		.left-col{
			h1, h1 a{
				font-size: 1.5rem;
				line-height: 0.85;
			}
			.hide-on-scoll, .pdf{
				display:block;
			}
			.header-mobile{
				
				h1{
					display:none;
				}
			}
		}
		main{
			padding-right: 0.9375rem;
			float: left;
			.actu{
				h1, p, a{
					font-size: 12.5vw;
				}
				h3{
					font-size: 7vw;
				}
			}
			.image-icono{
				.icone-wrapper{
					width: 60px;
					min-width: 50px;
				}
			}
		}
	}


	body[data-template="default"]{
		main{
			margin-bottom: 3rem;
			float: left;
			figure{
				margin-left: -13%;
				width: 75%;
			}
			h2{
				margin-left: 0;
			}

		}
	}

	body[data-template="agenda"] {
		main {
			table{
				width:100%;
			}
		}
	}

	body[data-template="maud"] {
		main{
			.creations{
				h1{
					margin-left:0;
				}
			}
		}
	}

	body[data-template="menu"] {
		main {
			h1{
				font-size: 2rem;
			}
			li{
				font-size: 2rem;
			}
		}
	}

	body[data-template="accueils"] {
		.accueils-module {
			h2{
				font-size: 2.5rem;
				margin-top:1.5rem;
				margin-left:0;
			}
			h3{
				font-size: 2rem;
				margin-bottom: 0;
				margin-left:0;
			}
			.accueils-text{
				margin-top: $marginSmall;
			}
		}
	}

	body[data-parent-template="ateliers"], body[data-rubrique="voulez-vous-danser"]{
		.header-mobile{
			background-color: $jaune;
		}
	}

	body[data-template="ateliers"]{
		nav.menu-page{
			>ul > li a{
				font-size: 1.6rem;
			}
		}
	}

	body[data-template="list"] {
		.liste-module {
			.liste-text {
				ul{
					margin:0;
				}
				h2{
					margin-top: $marginSmall;
					margin-left:0;
				}
			}
		}
	}

}










