// ---------- MOBILE VERSION -----------
@media #{$small-only}{
	h1{
		width:auto;
		&.orleans{
			font-size: 40px;
		}
	}

	p, li{
		//font-size:1.1rem;
	}

	figure{
		filter:none;
		width:100%;
	}

	.modal-newsletter{
		.modal-content{
			width: 90%;
		}
	}

	.row .row{
		margin: 0;
	}

	.main-content{
		padding-top: 50px;
	}

	.header-mobile{
		margin-bottom: 0;
		background:#FFF;
		position:fixed;
		top:0;
		left:0;
		z-index:10;
		padding-top:10px;
		padding-left: $columnPadding;
		padding-right: $columnPadding;
		h1{
			margin:0;
			padding:0;
			padding-top: 7px;
    	padding-bottom: 5px;
			float:left;
			a{font-size:30px;}
		}
		.menu-mobile-btn{
			text-transform: uppercase;
			color: #000;
			font-size: 25px;
			margin-bottom:0;
			float:right;
			cursor: pointer;
			span{
				display:inline-block;
			}
			&::before{
				content:"";
				display:inline-block;
				background:$rose;
				width: 17px;
				height:17px;
				margin-right: $marginSmall/2;
			}
		}
	}

	.module--menu--mainNav{
		display:none;
		top: 45px;
		.module--menu--submenu{
			position:relative;
			top:0;
			left:0;
		}
	}

	nav .menu-col-right, nav .menu-col-middle{
		margin-top:0;
	}


	.address.mobile-address{
		position:relative;	
		margin-top: $marginNormal;	
		p, a, ul{
			font-size: 0.7rem;
		}
		ul{margin-bottom:$marginSmall/2;}
		li{line-height:0;}
		padding-left:0.9375rem;
	}

	.address{
		width: 80%;
		margin-top: 20px;
		border-top: 1px solid #000;
		padding-top:20px;
		a, li{
			font-size: 1rem !important;
		}
		p, p a{
			font-size: 0.8rem !important;
		}
		p{
			margin-bottom: 0;
		}
		.socialnetwork{
			margin-bottom: 15px;
		}
	}


	main{
		padding-top:$marginNormal * 1.5;
		.text{
			margin-top: $marginSmall;
		}
		.icone{
			width:150px;
			top:3rem;
			left:50%;
			transform:translateX(-50%);
		}
	}

	.left-col{
		.hide-on-scoll{
			display:none;
		}
	}

	.note{
		position: relative;
		width:auto;
		min-width:auto;
		right:0;
		//display:block;

	}

	.arrow-back{
		left:15px;
		top:60px;
	}
	.arrow-back + h1{
		padding-left: 30px; 
	}

	.list-with-images{
		.thumb-wrapper{
			display:none !important;
		}
	}

	body[data-rubrique="home"]{
		.big-image-wrapper{
			top: 60px; 
			width: 90%;
		}
		.left-col{
			h1, h1 a{
				font-size: 1.5rem;
				line-height: 0.85;
			}
			.hide-on-scoll, .pdf{
				display:block;
			}
			// .header-mobile{
				
			// 	h1{
			// 		display:none;
			// 	}
			// }
		}
	}


	body[data-template="default"]{
		main{	
			h2{
				margin-left: 0;
			}

		}
	}

	body[data-template="agenda"] {
		main {
			table{
				width:100%;
			}
		}
	}

	body[data-template="maud"] {
		main{
			.creations{
				h1{
					margin-left:0;
				}
			}
		}
	}



	// body[data-template="ateliers"]{
	// 	nav.menu-page{
	// 		>ul > li a{
	// 			font-size: 1.6rem;
	// 		}
	// 	}
	// }

	// body[data-template="list"] {
	// 	.liste-module {
	// 		.liste-text {
	// 			ul{
	// 				margin:0;
	// 			}
	// 			h2{
	// 				margin-top: $marginSmall;
	// 				margin-left:0;
	// 			}
	// 		}
	// 	}
	// }

	body[data-template='jgm']{
		.main-content{
			.background-image{
				width: 100%;
				top: 50px; 
				left:15%;

			}
		}
		.player-container{
			display:none;
		}
	}

}










